# ~joar0011/ws07/ad2-t/unterlagen
# server configuration file
# by Arne Johannessen
# mailto:joar0011@hs-karlsruhe.de

# last modified 2007-10-15 by joar0011


<IfModule mod_autoindex.c>
	# Create some descriptions
	IndexOptions -SuppressDescription
	
#	AddDescription 'Interpolieren fuer Topographie' Interpol.java
#	AddDescription 'Handzettel 4 "Template"' 4
#	AddDescription 'Handzettel 5 "ProgressBar"' 5
	
	# create a link
	AddDescription '-> /~vovo0011/Web/Skripte/' 'manuskript'
	AddIcon /~joar0011/images/GenericURLIcon.png 'manuskript'
</IfModule>

<IfModule mod_alias.c>
	Redirect permanent '/~joar0011/ws07/ad2-t/unterlagen/manuskript' http://www.home.hs-karlsruhe.de/~vovo0011/Web/Skripte/
</IfModule>
