# ~joar0011/ws06
# server configuration file
# by Arne Johannessen
# mailto:joar0011@hs-karlsruhe.de

# $Id$


<IfModule mod_autoindex.c>
	# Create some descriptions
	IndexOptions -SuppressDescription
	
	AddDescription 'Tutorium Programmiersprachen 2' ps2-t
</IfModule>



<IfModule mod_alias.c>
	Redirect permanent /~joar0011/ws06/ws06/ad2-t http://www.home.hs-karlsruhe.de/~joar0011/ws07/ad2-t
</IfModule>
