# ~joar0011/ws06
# server configuration file
# by Arne Johannessen
# mailto:joar0011@hs-karlsruhe.de

# last modified 2006-10-13 by joar0011


<IfModule mod_autoindex.c>
	# Create some descriptions
	IndexOptions -SuppressDescription
	
	AddDescription 'Tutorium Programmiersprachen 2' ps2-t
</IfModule>
