/* www.home.hs-karlsruhe.de/~joar0011/ws06/ps2-t
 * Standard (Screen) Stylesheet
 * Version 1.0.2
 * CSS layer 2
 *
 * by Arne Johannessen
 * mailto:joar0011@hs-karlsruhe.de
 *
 * based on "www.home.hs-karlsruhe.de/~joar0011/ws06/ps2-t Standard
 * (Screen) Stylesheet" version 1.1.1
 *
 * $Id$
 */

.hide {
	display: none !important;
}
ABBR {
	font-style: inherit;
	font-variant: inherit;
}

#head {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 3em;
	background-color: #eee;
	font-family: "Trebuchet MS", "Arial", "Lucida", "Helvetica", sans-serif;
	overflow: hidden;
}
#head H1 {
	margin: 0;
	padding: .5em;
	height: 1em;
	border-left: 6px solid #bbb;
	font-size: 150%;
}


BODY {
	margin: 3.5em 0 2em 7em;
	padding: 0 .5em;
	max-width: 50em;
	font: normal 100% "Times", serif;
	color: black;
	background: white;
}
A, :link {
	color: #06f;
	background-color: inherit;
}
A:hover, A:active {
	color: white;
	background-color: #06f;
}
A:visited {
	color: #618;
	background-color: inherit;
}
A:visited:hover, A:visited:active {
	color: white;
	background-color: #618;
}
A[type="application/pdf"]:after {
	content: " [PDF]";
	font-size: 93%;
}


#menu {
	position: absolute;
	left: 0;
	top: 3em;
	margin: 1px 0 0 0;  /* :BUG: IE:win screws this up */
	width: 7em;
	font-style: normal;
	font-family: "Trebuchet MS", "Arial", "Lucida", "Helvetica", sans-serif;
}
#menu>* {
	font-size: 89%;
	border: none;
}
#menu UL {
	margin: 0;
	padding: 0;
}
#menu LI {
	display: block;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid white;  /* :BUG: IE:win screws this up */
}
#menu LI A, #menu LI A:hover, #menu LI STRONG {
	display: block;
	padding: 4px 4px 4px .5em;
	border-left: 6px solid #bbb;
	border-right: 6px solid #ddd;
	text-decoration: none;
	background-color: #eee;
	color: #666;
}
#menu LI A:link, #menu LI A:visited {
	color: #06f;
}
#menu LI A:link:hover, #menu LI A:visited:hover, #menu LI STRONG:hover {
	border-left-color: #06d;
	border-right-color: #06e;
	background-color: #06f;
	color: #fff;
}
#menu LI STRONG {
	border-right-color: #06f;
	font-weight: normal;
	color: #06f;
	cursor: pointer;
}
#menu HR {  /* :BUG: IE:win screws this up */
	display: block;
	margin: 0 0 1px 0;
	padding: 0;
	height: 1em;
	width: auto;
	color: black;
	background-color: #eee;
	border: none;
	border-left: 6px solid #bbb;
}


H2 {
	font-size: 1em;
	margin: 2em 0 .5em;
}
H3, ADDRESS, HR {
	font-size: 1em;
	margin: 1.5em 0 .5em;
}
H4 {
	font-size: 1em;
	margin: 1.5em 0 .5em;
}
P, UL, OL {
	margin-top: .5em;
	margin-bottom: .5em;
}
CODE {
	color: inherit;
	background-color: #ccc;
	padding: 0 .5ex;
	font-family: "Monaco", "Lucida Console", monospace;
	font-size: .9em;
}
CODE .comment {
	color: green !important;
	background-color: inherit;
}
PRE CODE {
	padding: 0;
}
BLOCKQUOTE {
	color: inherit;
	background-color: #ccc;
	margin: .5em 2em;
	padding: .5ex;
}
BLOCKQUOTE P, BLOCKQUOTE PRE {
	margin: 0;
	padding: 0;
}
SAMP, VAR {
	font-style: italic;
}
DEL {
	display: inline;
	text-decoration: line-through;
}
LI DEL {
	color: #900;
	background-color: inherit;
}
LI INS {
	text-decoration: none;
	color: #090;
	background-color: inherit;
}
CODE INS {
	color: inherit;
	background-color: inherit;
	text-decoration: underline;
}
SUP, SUB {
	font-size: .67em;
}
#achtung {
	margin: 1em;
	border: 1px solid red;
}
#achtung H2 {
	margin: 0;
	font-size: 1.67em;
	font-weight: bold;
	color: white;
	background-color: red;
	padding: .5ex 1ex;
}
#achtung P {
	margin: .5em;
}

